<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>503851656583-7fjf2h0qge8hmk7g7iuf7pfevpl6m867.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.503851656583-7fjf2h0qge8hmk7g7iuf7pfevpl6m867</string>
	<key>API_KEY</key>
	<string>AIzaSyB-HrHlkebQj04JA6KNzT6wYtehN31BkTI</string>
	<key>GCM_SENDER_ID</key>
	<string>503851656583</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>gblessons.TindPet</string>
	<key>PROJECT_ID</key>
	<string>tindpet-5b734</string>
	<key>STORAGE_BUCKET</key>
	<string>tindpet-5b734.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:503851656583:ios:f7a077f276ddc37f685f22</string>
</dict>
</plist>